node_modules/
.expo/
.expo-shared/
.vscode/
dist/
web-build/
App/config/configuration/
App/config/Bin/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
env
.env
.env.local
# macOS
.DS_Store
.gitignore


